/* reset rules */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol{
    list-style: none;
}

a{
    color: currentColor;
    text-decoration: none;
}

img{
    max-width: 100%;
}

/* layout */

.container{
    max-width: 900px;
    margin: 0 auto;
}

header{
    padding: 10px 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    align-items: center;
}

.cta-header{
    color: black;
    background-color: white;
}

a[class*="cta"]{
    padding: 8px 15px;
    border-radius: 70px;
}

.cta-download{
    background-color: white;
    color: black;
}

.cta-download::before{
    content: ' \2193';
}

.cta-link-browser{
    background-color: black;
    color: white;
}

.main-menu{
    display: flex;
    gap: 10px;
}

.section, .hero{
    padding: 40px 0;
}

header, .hero, footer{
    color: white;
}

.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    padding: 120px 0;
}

.container.small{
    max-width: 700px;
}

.hero .row{
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-60{
    width: 60%;
}

.col-40{
    width: 40%;
}

.col-33 {
    width: calc(100% / 3);
}

.col-16{
    width: calc(100% / 6);
}

h2{
    font-size: 45px;
    line-height: 40px;
    margin-bottom: 15px;
}

p{
    font-size: 20px;
}

h1{
    text-align: center;
    margin-bottom: 15px;
    font-size: 50px;
}

.hero p{
    text-align: center;
}

.interaction{
    padding: 15px;
    gap: 20px;
}

.row.reverse{
    flex-direction: row-reverse;
}

footer > :first-child{
    padding: 3px 0 20px;
}

.footer-menu{
    padding: 15px 0 0;
    border-top: white solid 1px;
}

.footer-menu nav{
    padding-left: 0;
    padding-right: 0;
}

/* utilities */

.bg-blue-image{
    background-color: rgba(37,94,233,255);
}

.bg-clear-blue{
    background-color: rgb(30, 144, 255);
}

.bg-pink{
    background-color: rgb(255, 192, 203);
}

.bg-white{
    background-color: white;
}

.bg-gray{
    background-color: rgb(211, 211, 211);
}

.bg-dark-green{
    background-color: rgb(34, 139, 34);
}

.bg-black{
    background-color: rgb(35, 39, 42);
}

.bg-salmon{
    background-color: rgb(240, 128, 128);
}

.bg-jar-blue{
    background-color: rgb(32, 178, 170);
}

.bg-matt-pink{
    background-color: rgb(255, 182, 193);
}

.bg-acquamarine{
    background-color: rgb(127, 255, 212);
}

.padding-top-27{
    padding-top: 27px;
}

/* debug rules */

.debug .row > *{
    border: dashed 1px black;
}

.debug .row > *{
    min-height: 500px;
}

/* .big potrebbe non servire più una volta aggiunto il contenuto */
.debug .container.big{
    min-height: 900px;
}

.debug .container.small{
    min-height: 400px;
}